* {
        margin: 0;
        padding: 0;
}

body {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 300;}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.float-container{
    position: relative;
}

.img-responsive{
        background-image: url(gambar/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;

}

.kop-surat {
    width: 850px;
    background-color: white;
    height: 1150px;
    margin: 10px auto;
    padding: 20px;
    box-sizing: border-box;
}

.kop {
    width: 95%;
    margin: 10px auto;
    /* background-color: red; */
    height: 100px;
    display: flex;
}

.logo img {
    width: 73px;
    height: 73px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 30px;
}

.img{
    width: 5%;
    margin-left: 1.9rem;
    margin-top: 0%;
    size: 100%;

}


.box-2{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


@page {
        size: A4;
        margin: 0;
}

.text-center{
    text-align: center
}

.box-formulir {
        width: 50%;
        margin: 0% auto;
        
}
        
.box {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px;
        box-sizing: border-box;
        margin: 5px 0 25px;

}

.tabel-form {
        width: 100% ;
}

.tabel-form tr td:nth-child(1) {
        width: 30%;
}
.tabel-cetak tr td:nth-child(1) {
        width: 50%;
}

 
.btn-cetak {
        display: inline-block;
        padding: 10px 17px;
        background-color: #fff;
        color: black;
        margin-top: 5px;
        margin-bottom: 10px;
}



.surat {
    width: 795px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.surat  .w {
    width: 100%;
    font-size: 19px;
    text-align: center;

    letter-spacing: 5px;
    font-weight: bold;
}

.surat .e {
    width: 100%;
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
}


.content {
        width: 90%;
        padding: 10px;
        box-sizing: border-box;
        margin: 50px auto;
}
.tabel {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ddd;
}
.tabel tr {
        height: 30px;
}
.tabel tr td {
        padding: 10px 15px;

}
.tabel tr td:nth-child(1) {
        text-align: center;
}
/*beranda admin*/
